body {
    background: #fafafa;
    color: #333;
}

.game {
    margin: 20px auto 0 auto;
    width: 480px;
    font-size: 18px;
    // line-height: 50px;
    background-color: #2d3537;
    border-radius: 6px;
    padding: 10px 30px 30px 30px;
    text-align: center;

    h1 {
        font-size: 36px;
        font-weight: normal;
        line-height: 1;
        color: #e84bbb;
    }

    #board {
        position: relative;
        width: 480px;
        height: 480px;
        // overflow: hidden;

        .gem {
            position: absolute;
            width: 60px;
            height: 60px;
            cursor: pointer;
        }

        #gem-states {
            width: 60px;
            height: 60px;
            position:absolute;
            background-image: url('../images/sprite_states.png');
            display: none;
        }
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

div { font-family:"Apercu Medium", Calibri, sans-serif; font-size-adjust:0.508; font-weight:600; font-style:normal; }